<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Car-service-system</display-name>
	<servlet>
		<description>
		</description>
		<display-name>RegisterCustomer</display-name>
		<servlet-name>RegisterCustomer</servlet-name>
		<servlet-class>com.deek.cntroller.RegisterCustomer</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LoginCustomerController</display-name>
		<servlet-name>LoginCustomerController</servlet-name>
		<servlet-class>com.deek.controller.LoginCustomerController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddCarDetails</display-name>
		<servlet-name>AddCarDetails</servlet-name>
		<servlet-class>com.deek.controller.AddCarDetails</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RequestForAService</display-name>
		<servlet-name>RequestForAService</servlet-name>
		<servlet-class>com.deek.controller.RequestForAService</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ServiceStatus</display-name>
		<servlet-name>ServiceStatus</servlet-name>
		<servlet-class>com.deek.controller.ServiceStatus</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>changePasswordController</display-name>
		<servlet-name>changePasswordController</servlet-name>
		<servlet-class>com.deek.controller.changePasswordController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LoginAdminController</display-name>
		<servlet-name>LoginAdminController</servlet-name>
		<servlet-class>com.deek.controller.LoginAdminController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterCustomer</servlet-name>
		<url-pattern>/RegisterCustomer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginCustomerController</servlet-name>
		<url-pattern>/LoginCustomerController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddCarDetails</servlet-name>
		<url-pattern>/AddCarDetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RequestForAService</servlet-name>
		<url-pattern>/RequestForAService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServiceStatus</servlet-name>
		<url-pattern>/ServiceStatus</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>changePasswordController</servlet-name>
		<url-pattern>/changePasswordController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginAdminController</servlet-name>
		<url-pattern>/LoginAdminController</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
